@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Gigya.Umbraco.Module.v621.Connector
@{ 
    if (User.Identity.IsAuthenticated)
    {
        return;
    }
    var label = Utils.UmbracoMacroProperty(Model.MacroParameters, "Label") ?? "Login";
    var containerId = Utils.UmbracoMacroProperty(Model.MacroParameters, "ContainerId");
    var generatedContainerId = "gigya-container-" + Guid.NewGuid();
    var generateContainer = Utils.UmbracoMacroProperty(Model.MacroParameters, "GenerateContainer") == "1";

    if (string.IsNullOrEmpty(containerId) && generateContainer)
    {
        containerId = generatedContainerId;
    }

    var screenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "ScreenSet") ?? "Default-RegistrationLogin";
    var mobileScreenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "MobileScreenSet");
    var startScreen = Utils.UmbracoMacroProperty(Model.MacroParameters, "StartScreen");
}

@if (!string.IsNullOrEmpty(containerId))
{
    <div id="@generatedContainerId" data-gigya-container-id="@containerId" class="gigya-embedded-screen" data-gigya-screen="@screenSet" data-gigya-mobile-screen="@mobileScreenSet" data-gigya-start-screen="@startScreen"></div>
}
else
{
    <a href="#" data-gigya-screen="@screenSet" data-gigya-mobile-screen="@mobileScreenSet" data-gigya-start-screen="@startScreen" class="gigya-login">@label</a>
}