@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Gigya.Umbraco.Module.v621.Connector

@{ 
    var loginStatusModel = Members.GetCurrentLoginStatus();
    if (!loginStatusModel.IsLoggedIn)
    {
        return;
    }

    var label = Utils.UmbracoMacroProperty(Model.MacroParameters, "Label") ?? "Edit Profile";
    var containerId = Utils.UmbracoMacroProperty(Model.MacroParameters, "ContainerId");
    var generateContainer = Utils.UmbracoMacroProperty(Model.MacroParameters, "GenerateContainer") == "1";

    if (string.IsNullOrEmpty(containerId) && generateContainer)
    {
        containerId = "gigya-container-" + Guid.NewGuid();
    }
    var screenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "ScreenSet") ?? "Default-ProfileUpdate";
    var mobileScreenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "MobileScreenSet") ?? "DefaultMobile-ProfileUpdate";
    var startScreen = Utils.UmbracoMacroProperty(Model.MacroParameters, "StartScreen");
}

@if (!string.IsNullOrEmpty(containerId))
{
    <div id="@containerId" class="gigya-embedded-screen" data-gigya-screen="@screenSet" data-gigya-mobile-screen="@mobileScreenSet" data-gigya-start-screen="@startScreen"></div>
}
else
{
    <a href="javascript:void(0)" class="gigya-edit-profile" data-gigya-screen="@screenSet" data-gigya-mobile-screen="@mobileScreenSet" data-gigya-start-screen="@startScreen">@label</a>
}