@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Gigya.Umbraco.Module.Connector

@{ 
    var loginStatusModel = Members.GetCurrentLoginStatus();
    var label = Utils.UmbracoMacroProperty(Model.MacroParameters, "Label") ?? "Logout";
    var greeting = Utils.UmbracoMacroProperty(Model.MacroParameters, "Greeting") ?? "Welcome";
    var containerId = Utils.UmbracoMacroProperty(Model.MacroParameters, "ContainerId");
}

@if (loginStatusModel.IsLoggedIn)
{
    <span class="gigya-greeting">@greeting</span> <a href="javascript:void(0)" data-container-id="@containerId" class="gigya-edit-profile">@loginStatusModel.Email</a> <button type="button" class="gigya-logout">@label</button>
    <script>gigyaCms.authenticated = true</script>
}
else if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
{
    <span class="gigya-greeting">@greeting</span> <a href="javascript:void(0)" data-container-id="@containerId" class="gigya-edit-profile">sample@@email.com</a> <button type="button" class="gigya-logout">@label</button>
}