@model Sitecore.Gigya.Module.Models.GigyaRegisterViewModel

@if (!string.IsNullOrEmpty(Model.ContainerId))
{
    <div id="@Model.GeneratedContainerId" data-gigya-container-id="@Model.ContainerId" class="gigya-cms-embedded-screen" data-gigya-screen="@Model.ScreenSet" data-gigya-start-screen="@Model.StartScreen"></div>
}
else
{
    <button type="button" class="gigya-cms-register" data-gigya-screen="@Model.ScreenSet" data-gigya-start-screen="@Model.StartScreen">@Model.Label</button>
}
<input type="hidden" class="gigya-cms-registered-logged-in-url" value="@Model.LoggedInUrl" />